/* Main */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

body {
    font-family: 'Lato', arial, sans-serif;
    color: #434343;
    background: #DAE3E7;
    font-size: 16px;
}

section {
    background: #fff;
    padding: 30px;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Monsterrat', sans-serif;
    font-weight: 700;
    color: #778492;
}

h1 {
    color: #49515A;
    font-size: 38px;
    font-weight: 700;
    margin-bottom: 5px;
}

h2 {
    margin-bottom: 20px;
}



h2 {
    font-size: 24px;
    color: #545E69;
}

h3 {
    color: #778492;
    margin-bottom: 10;
}

a {
    color: #3AAA64;
    -webkit-transition: all 0.4s ease-in-out;
    -moz-transition: all 0.4s ease-in-out;
    -ms-transition: all 0.4s ease-in-out;
    -o-transition: all 0.4s ease-in-out;
  }
  a:hover {
    text-decoration: underline;
    color: #5f6b77;
    color: #2d844e;
    cursor: pointer;
  }
  a:focus {
    text-decoration: none;
  }

/* Header */
.header {
    background: #F5F5F5;
    display: flex;
    margin: 0 auto;
    padding: 25px 20%;
    min-height: 360px;
}

.profileImage {
    border-radius: 50%;
    margin-right: 30px;
    width: 300px;
    height: auto;
}

.headerContent {
    margin-top: 30px;
}

.headerInformation {
    font-weight: 400;
    margin-bottom: 10px;
}

.headerSocialList {
    list-style: none;
}

.main {
    display: grid;
    grid-template-columns: 70% 30%;
    grid-template-rows: auto auto auto auto;
    grid-template-areas: 
    "aboutMe contactMe"
    "latestProjects technicalSkills"
    "workExperience education"
    "workExperience spokenLanguages";
    grid-gap: 30px;
    margin-top: 30px;
    margin-bottom: 30px;
    padding: 0 20%;
}

.contactList {
    list-style: none;
}

.educationItem {
    margin-bottom: 10px;
}

.contactMe {
    grid-area: contactMe;
}

.workExperience {
    grid-area: workExperience;
}

.contactList li {
    margin-bottom: 10px;
}

.levelBar {
    background: #e8e8e8;
    height: 15px;
}

.levelBarInner {
    height: 15px;
    background: #66cb8c;
}

.aboutMe {
    grid-area: aboutMe;
}

.education {
    grid-area: education;
}

.skill {
    margin-bottom: 30px;
}

.technicalSkills {
    grid-area: technicalSkills;
}

.skill h3 {
    margin-bottom: 10px;
}

.rijksmuseumImage {
    margin-top: 30px;
    height: auto;
    width: 100%;
}

.latestProjectsItem {
    margin-top: 30px;
    text-align: center;
}

.latestProjectsItemText {
    text-align: center;
    color: #778492;
}

.latestProjects {
    grid-area: latestProjects;
}

.spokenLanguages {
    grid-area: spokenLanguages;
    display: flex;
    flex-direction: column;
    gap: 10px;
}


@media (max-width: 1000px) {
    .main {
        grid-template-columns: auto;
        grid-template-rows: auto auto auto auto auto auto auto;
        padding: 0 30px;
        grid-template-areas: 
        "aboutMe"
        "contactMe"
        "technicalSkills"
        "latestProjects"
        "education"
        "spokenLanguages"
        "workExperience"
    }
    .header {
        flex-direction: column;
        text-align: center;
    }
    .profileImage {
        align-self: center;
        margin-right: 0;
    }
}